extends layout

block breadcrumbs
	ol.breadcrumb
		li
			a(href="/") Home
		li.active Petitions

block content
	h2.page-title #{page_title}

	table#petitions.table.table-hover
		thead
			tr
				th.icon
				th.title Title
				th.body Body
				th.view View
		tbody#content
			each petition, i in petitions
				tr
					td.icon
						img(src="http://robohash.org/#{petition.id}?size=100x100&bgset=bg2")
					td.title #{petition.title}
					td.body #{petition.body}
					td.view
						a.glyphicon.glyphicon-eye-open.petition-link(href='/petitions/#{petition.id}')
						br
						a.glyphicon.glyphicon-globe(href='/petitions/signatureheatmap/#{petition.id}')
